<div class="up-var">
  <div class="upper-menu">
    <div class="wrapper" >
      <ul>
        <li><a href='#'>マイページ</a></li>
        <li><a href='/providers/inbox'>メッセージ</a></li>
        <li><%= link_to '掲載中', notes_path %></li>
        <li><a href='/dashboard/transaction'>取引履歴</a></li>
        <li><a href='/providers'>基本情報</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="mypage-all_wrapper">
   <h1 class="user_page_name"><%= current_provider.storename %>さんのページ  </h1>
     <a class="profile_edit" href="/providers"><i class="fa fa-pencil" aria-hidden="true"></i>プロフィールを編集</a>

   <p class="rates">レビュー 1000件 ★★★★★</p>
 
 <div class="provider-contents">

 <div class="left-wrapper">
 <% if current_provider.provider_pic? %>
    <%= image_tag current_provider.provider_pic.url, :class => 'mypage-picture'%>
  <% else %>
    <%= image_tag 'Seekle_icon-min.png', :class => 'mypage-picture'%>
  <% end %>

</div>


 <div class="mypage_wrapper">
  <table class="sample_03">
   <tbody>
    <tr>
    
    <tr>
     <th>営業時間：</th>
      <td><%= current_provider.hours %></td>
    </tr>

     <tr>
     <th>定休日：</th>
      <td> <%= current_provider.holiday %></td>
    </tr>

    <tr>
    <th>所在地：</th>
      <td><%= current_provider.address %></td>
    </tr>
    
    <tr>
    <th>お支払い：</th>
      <td><%= current_provider.payment %></td>
    </tr>
   
  </tbody>
</table>




  <div class="about-profiles">
    <h3>自己紹介：</h3> <p><%= current_provider.about %>
    <% if current_provider.about.blank? %>
    <%= link_to 'プロフィール編集ページ', '/providers/edit' %>から設定してください。
     <%end%>
    </p>
      <h3> レビュー：</h3>
       <ul class="notes">
      </ul>


</div>
  </div>
  </div>
