
  <% if provider_signed_in? %>
  
<%= render 'providers/header' %>


 <% else %> 

<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
     <li><a href='/users/profile'>マイページ</a></li>
     <li><%= link_to '掲載中', notes_path %></li>
     <li><a href=''>取引履歴</a></li>
     <li><a href='/users/edit'>設定</a></li>
     <li><a href='/mailbox/inbox'>受信トレイ
<div class="bootstrap">
 <span class="label label-danger pull-right"><%=unread_messages_count%></span></div></a></li>
    </ul>
    </div>
  </div>
  </div>
    <% end %> 


<div class="bootstrap">
<div class="mypage-all_wrapper">

<div class="mailbox_wrapper">
<div class="bootstrap">
<div class="row">
  <div class="spacer"></div>
  <div class="col-md-6">
    <% if provider_signed_in? %>
   <% else %> 
    <%= link_to "メッセージを作成", new_conversation_path, class: "btn btn-success" %>
    <% end %> 
  </div>
</div>


<div class="bootstrap">
<div class="row">
  <div class="spacer"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
      
          <%= render 'mailbox/providers' %>
         
      </div>
    </div>
  </div>




  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'conversations/messages' %>
      </div>
      <div class="panel-footer">
        <!-- Reply Form -->
        

 <%= form_for :message, url: reply_provider_path(conversation) do |f| %>

            <div class="form-group">
              <%= f.text_area :body, placeholder: "返信する", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "送信", class: 'btn btn-danger pull-right' %>


<% end %>



        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  </div></div>
  </div>

  </div>
  </div>


