<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>

    </ul>
    </div>
  </div>
  </div>

<div class="setting-heading">
<p>掲載設定</p>

 <ul>
   <li> <a href="#"><i class="fa fa-plus-square-o"></i>  サービスについて</a></li>
   <li> <a href="/notes/description"><i class="fa fa-plus-square-o"></i>  料金とお願い</a></li>
   <li><a href="/notes/images"><i class="fa fa-plus-square-o"></i>  写真</a></li>
 </ul>
  </div>



<div class="bootstrap">
<div class="setting-wrapper">
<div class="customize-setting">
<h2>サービス料金の設定をしよう</h2>
  <p>あなたのサービスを求めるカスタマーの決め手になるようなタイトルや内容を考えよう</p>
  </div>



<%= form_for @note do |f| %>


<% if @note.errors.any? %>






  <div class="error_messages">
    <h2><%= pluralize(@note.errors.count, "error") %>  prohibited this user from being saved:</h2>
    <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>




  <div class="form-group">
    <p>料金</p>
<div class="input-group">

 <%= f.text_field :price, class: 'form-control' %>
  <span class="input-group-addon">円</span>
</div>

  </div>


<div class="customize-setting">
<h2>カスタマーに伝えておこう</h2>
  <p>あなたのサービスを求めるカスタマーの決め手になるようなタイトルや内容を考えよう</p>
  </div>

  <div class="form-group">
    <p>カスタマーへのおねがい </p>
<%= f.text_area :rule, class: 'content-area' %>
  </div>




  <div class="actions">
 <%= f.submit '保存する', class: 'btn btn-default', data:{ disable_with: "保存中・・・"} %>
<% end %>
  or <%= link_to "skip this step", images_notes_path %>
</div>

  </div>
