
<div class="up-var">
 <div class="upper-menu">
  <div class="wrapper" >
    <ul>

    </ul>
  </div>
</div>
</div>

<div class="providers_new_post">
  <div class="bootstrap">
    <%= form_for(@note, class: 'form-horizontal', role: 'form' ) do |f| %>
    <% if @note.errors.any? %>
    <div class="alert alert-danger">
     <ul>
       <% @note.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
   <% end %>



    <h2>掲載内容を編集する</h2>
    <p>あなたのサービスを求めるカスタマーの決め手になるようなタイトルや内容を考えよう</p>
  


  <table class="newpost">

  
    <tr>
     <th> <p>カテゴリー <span class="form-label required">必須</span></p></th>
     <td>
     <%= f.select :category, ['便利屋','増設、リモデル', 'コンクリート','ペインティング','屋根、雨漏り','壁、階段','ドア、窓','クリーニング','引っ越し','大工、木工','配管工事','イベントメイクアップ','結婚司会','バーテンディング','フラワーデザイナー','マジシャン','イベントカメラマン','フェイスペインティング','ヘアスタイリング','バルーンアーティスト','コメディアン','DJ','歌','語学','料理','ピアノ','武道','ウェブ','ダンス','勉学','絵','パーソナルトレーニング','編み物','マッサージ','エステ','サイクリング','ヨガ','栄養士','セラピー','パーソナルシェフ','人生相談','カウンセリング','座禅','ストレッチ','その他'], { include_blank: '選択してください'} , class: "chosen-select"  %>
     </td>
  <tr>


  <tr>
   <th> <p>サービスのタイトル<span class="form-label required">必須</span></p></th>
   <td>
    <%= f.text_field :title, class: 'form-control',placeholder:"サービス内容がわかるタイトルにしましょう" %>
  </td>
</tr>



<tr>
 <th> <p>キャッチコピー<span class="form-label required">必須</span> </p></th>
 <td>
  <%= f.text_area :content, class: 'content-area',placeholder:"このサービスならではの取り柄をアピールしましょう" %>
</td>
</tr>


<tr>
 <th> <p>セールスポイント<span class="form-label required">必須</span></p></th>
 <td>
  <%= f.text_field :title, class: 'form-control', placeholder:"お客様にとって嬉しいポイントをアピールしましょう具体的にアピールしましょう" %>
</td>
</tr>



<tr>
 <th> <p>お客様へのお願い<span class="form-label required">必須</span></p></th>
 <td>
  <%= f.text_area :rule, class: 'content-area' %>
</td>
</tr>

<tr>
 <th> <p>変更とキャンセル<span class="form-label optional">任意</span></p></th>
 <td>
  <%= f.text_area :rule, class: 'content-area', placeholder:"あなたのサービスについて詳しく説明しよう" %>
</td>
</tr>

<tr>
 <th> <p>詳しいサービスの内容<span class="form-label optional">任意</span></p></th>
 <td>
  <%= f.text_area :price, class: 'content-area', placeholder:"あなたのサービスについて詳しく説明しよう" %>
</td>
</tr>

<tr>
 <th> <p>写真<span class="form-label required">必須</span></p></th>
 <td>
  <%= f.file_field :service_image1, class: "form-control image-field" %>
  <%= f.hidden_field :service_image1_cache %>
</td>
</tr>
</div>
</table>
</div>
<%= f.submit '保存する', class: 'btn btn-default', data:{ disable_with: "保存中・・・"} %>


<% end %>
</div>
</div>








<%= link_to 'サービスページ', @note %> |
<%= link_to '掲載サービス一覧', notes_path %>
</div>


