
<div class="genre">
  <div class="bootstrap1">
    <ol class="breadcrumb">

    </ol>
  </div>
</div>


<div class="published_service_wrapper">

<div class="left-other-housing">

 <div class="other-jobs-menu">
  <h2>イベント</h2>
  <ul>

   <li>司会・MC</li>
   <li>ダンサー</li>
   <li>イベントメイクアップ</li>
   <li>着付け</li>
   <li>ヘアスタイリング</li>
   <li>通訳</li>
   <li>食品移動販売</li>
   <li>似顔絵</li>
   <li>大道芸</li>
   <li>フラワーデザイナー</li>
    <li>カメラマン</li>
   <li>バルーンアーティスト</li>
   <li>マジシャン</li>
   <li>DJ</li>
   <li>コメディアン</li>

   
 </ul>
 <br><br>

 <h2>ご利用にあたって</h2>
 <ul>
   <li>ご利用の流れ</li>
   <li>よくある質問</li>
 </ul>
</div>
</div>


<div class="services_right_wrapper">


<div class="show_providers clearfix">
   <p><%= @notes.count %>件のサービスが見つかりました</p>
  <ul>
   <% @notes.each do |note| %>
   <div class="provider_job ">
     
     <% note.note_images.each do |note_images| %>
      <% if note_images.image1.present? %>
      <%= link_to image_tag( note_images.image1_url, { :class => "provider_service_image"}), note_path(note) %>
      <% else %>
      <%= link_to image_tag( 'Seekle_icon.png', { :class => "provider_service_image"}), note_path(note) %>
      <% end %>

      
         <% end %>
    <div class="title"><h2> <%= link_to note.title, note_path(note) %></h2>
     <div class="service-price"><h3> ¥<%= note.price %></h3> </div>
     <% if note.provider.mainpic.present? %>
     <%= image_tag note.provider.mainpic.url, :class => 'provider_image'%>
     <% else %>
     <%= image_tag 'Seekle_icon.png', :class => 'provider_image'%>
     <% end %>
   </div>
 </div>
 <% end %>
</ul>




<div class="bootstrap">
 <div class="list-number-2 clearfix">
   <%= paginate(@notes) %>
   
 </div>
</div>


</div>

</div>
</div>



