<%= render 'providers/header' %>


<div class="main-container">
<div class="listing_wrapper">
<h1>掲載中サービス</h1>


<div class="listings_list">

   <% if @notes.blank? %>
      <p>掲載中のサービスはまだありません</p>
   <% else %>

    <% @notes.each do |note|  %>
       <li class="listing"> 
        <div class="listing_title">        
           <% note.note_revisions.each do |note_revision| %>
           <h3> <%= link_to note_revision.title, note_path(note) %></h3>

      </div>
     <% note.note_images.each do |note_images| %>
        <% if note_images.image1.present? %>
             <%= image_tag note_images.image1_url ,class: "service_image"%>
            <% else %>
             <%= image_tag 'Seekle_icon.png', :class => 'service_image'%>
            <% end %>
       <% end %>

         <h4> <%= note.reservations.count %>件の予約があります！</h4>
        
 


<div class="bootstrap">
        
           <%= link_to '予約を確認する', note_reservations_path(note), class:"btn btn-default" %>
           <%= link_to '編集する', edit_note_path(note), class:"btn btn-default" %>       
    
   </div>
    <% end %> 
     <% end %>
     </li>   
   <% end %>



</div>





</div>
<div class="bootstrap">
   <div class="list-number-2 clearfix">
     <%= paginate(@notes) %>
   </div>
 </div>
</div>

