<%= render 'providers/header' %>

 <div class="listing-wrapper">
  <div class="provider-listings">
  <div class="provider-listings-heading">
    <h2>あなたのサービス</h2>
  </div>

<div class="bootstrap">

   <ul>
 <% @notes.each do |note|  %>
      <li> 
       <div class="panel panel-default">
         <div class="panel-heading">
          <%= link_to note.title, note_path(note) %>
         </div>
           <div class="panel-body-list">
           <%= image_tag note.service_image1_url ,class: "service_image"%>
             <%= link_to '編集する', edit_note_path(note), class:"note_edit_link" %>
           </div>
         </div>
      </li>   
     <% end %>
     </ul>
  </div>
</div>


<div class="bootstrap">
 <div class="list-number clearfix">
   <%= paginate(@notes) %>
 </div>
</div>



