<%= render 'home/header/dashboardhead' %>
<div class="genre">
  <div class="bootstrap1">
    <ol class="breadcrumb">

    </ol>
  </div>
</div>

<div class="main-container">



<div class="published_service_wrapper">

<div class="left-other-housing">

 <div class="other-jobs-menu">


   習い事カテゴリ
   <br/>
   <br/>

<% @lessoncategories.each do |lesson| %>

<li><%= lesson.name %></li>
<% end %>
 <br>
 <br>

 <h2>ご利用にあたって</h2>
 <ul>
   <li>ご利用の流れ</li>
   <li>よくある質問</li>
 </ul>
</div>
</div>


<div class="services_right_wrapper">


      <div class="show_providers">

  
<%= @notes.count %>件のサービスが見つかりました
     <% @notes.each do |note| %>

     <div class="provider_job ">
 <% note.note_revisions.each do |note_revision| %>
      <div class="title"><h2> <%= link_to note_revision.title, note_path(note) %></h2>
      <% note.note_images.each do |note_images| %>
      <% if note_images.image1.present? %>
      <%= link_to image_tag( note_images.image1_url, { :class => "provider_service_image"}), note_path(note) %>
      <% else %>
      <%= link_to image_tag( 'Seekle_icon.png', { :class => "provider_service_image"}), note_path(note) %>
      <% end %>
     <% end %>


    <div class="service_catchcopy_top"> 
     <p><%= note_revision.catchcopy.truncate(37, omission: '...' )%></p>
    </div>

     <div class="store_name_left">
     <p><%= link_to note.provider.name,profile_note_path(note) %></p>
     </div>
       <div class="service-price"><h3> <%= note_revision.price %>円<span>(税込)</span>〜</h3> </div>
       <% end %>
     </div>
   </div>
   <% end %>


 <div class="bootstrap">
   <div class="list-number-2 clearfix">
     <%= paginate(@notes) %>
   </div>
 </div>

</div>

</div>
</div>

</div>
