
 <body class="fuelux">
  <%= javascript_include_tag "application" %>
<link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
<script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>

<div class="bootstrap">

<div class="setting-wrapper">
 <div class="wizard" data-initialize="wizard" id="myWizard">
   <div class="steps-container">
     <ul class="steps">
       <li data-step="1" data-name="campaign" class="active">
       <span class="badge">1</span>基本情報
       <span class="chevron"></span>
       </li>
        <li data-step="2">
         <span class="badge">2</span> 料金
         <span class="chevron"></span>
        </li>
          <li data-step="3" data-name="template">
           <span class="badge">3</span> 画像
           <span class="chevron"></span>
         </li>
      </ul>
   </div>

   <div class="actions">
     <button type="button" class="btn btn-default btn-prev">
       <i class="fa fa-chevron-left" aria-hidden="true"></i>戻る</button>
     <button type="button" class="btn btn-primary btn-next" data-last= "掲載する" onclick="document.frm.submit();" >次へ
       <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
    </button>
   </div>

   <div class="step-content">
   <div class="step-pane active sample-pane alert" data-step="1">



<%= form_for(@note, class: 'form-horizontal', role: 'form' ) do |f| %>
 <% if @note.errors.any? %>
 <div class="alert alert-danger">
 <ul>
 <% @note.errors.full_messages.each do |msg| %>
 <li><%= msg %></li>
 <% end %>
 </ul>
  </div>
  <% end %>

<div class="customize-setting">
<h2>あなたのサービスを紹介しよう</h2>
  <p>あなたのサービスを求めるカスタマーの決め手になるようなタイトルや内容を考えよう</p>
  </div>

  <div class="form-group">
    <p>カテゴリー </p>

<%= f.radio_button :category, "住まい" %>住まい
<%= f.radio_button :category, "イベント" %>イベント
<%= f.radio_button :category, "習い事" %>習い事
<%= f.radio_button :category, "健康" %>健康
<%= f.radio_button :category, "その他" %>その他

  </div>


<div class="form-group">
<p>タイトル</p>
<%= f.text_field :title, class: 'form-control' %>
  </div>

    <div class="form-group">
    <p>サービスについて</p>
<%= f.text_area :content, class: 'content-area' %>
  </div>

    </div>
 <div class="step-pane active sample-pane alert" data-step="2">

<div class="customize-setting">
<h2>サービス料金の設定をしよう</h2>
  <p>あなたのサービスを求めるカスタマーの決め手になるようなタイトルや内容を考えよう</p>

  </div>

  <div class="form-group">
    <p>料金</p>
<div class="input-group">

 <%= f.text_field :price, class: 'form-control' %>
  <span class="input-group-addon">円</span>
</div>

  </div>



  <div class="form-group">
    <p>カスタマーへのおねがい </p>
<%= f.text_area :rule, class: 'content-area' %>
  </div>


  </div>
 <div class="step-pane active sample-pane alert" data-step="3">


<div class="customize-setting">
<h2>あなたのサービスの写真を公開しよう</h2>
  <p>あなたのサービスを求めるカスタマーの決め手になるようなタイトルや内容を考えよう</p>
  </div>


 <div class="form-group">
    <p>写真1</p>

  <%= f.file_field :image_1, class: "form-control image-field" %>
  </div>

  <div class="form-group">
    <p>写真2</p>
 <%= f.file_field :image_2, class: "form-control image-field" %>
  </div>

  <div class="form-group">
    <p>写真3</p>
 <%= f.file_field :image_3, class: "form-control image-field" %>
  </div>
  <%= f.submit '作成する', class: 'btn btn-default', data:{ disable_with: "作成中・・・"} %>


<% end %>
  </div>
</div>


</div>

  </div>





