
<div class="genre">
 <div class="bootstrap1">

 </div>
</div>



 <div class="provider_wrapper">

  <div class="provider-introduction">
  <h1>  <%= @note.title %></h1>
  <% if @note.user.profile_pic? %>
    <%= link_to image_tag(@note.user.profile_pic.url, :class => 'face_pic'),  profile_note_path %>

     <% else %>
       <%= image_tag 'Seekle_icon.png', :class => 'face_pic'%>
     <% end %>

       



  <table class="sample_03">
   <tbody>
    <tr>
     <th>提供者：</th>
      <td><%= link_to @note.user.user_name, profile_note_path %></td>
    </tr>
    <tr>
     <th>エリア：</th>
      <td><%= @note.user.area %></td>
    </tr>
     <tr>
     <th>カテゴリー：</th>
      <td><%= @note.category %></td>
    </tr>
  </tbody>
</table>



            <h2><i class="fa fa-jpy "></i><%= @note.price %>~</h2>
      
             <small>
               <%= link_to "このサービスを依頼", "/charges/new", :class => 'service_order_btn' %>
          </small>
  </div>

 <div class="service_explain">
   <h2>このサービスについて</h2>
   <ul>
    <%= @note.content %>
  </ul>
 </div>


  <div class="rulesfromprovider">
     <h2>プロバイダーからのお願い</h2>
       <ul>
         <%= @note.rule %>
       </ul>
  </div>
  <div class="reviews_providers">
     <h2>レビュー (2)</h2>
  </div>


 

  </div>




