
     <%= render 'category/header' %>


<div class="home-all-wrapper">
<div class="home-little clearfix">
   <div class="top_home_page">
    <h1>イベント</h1>
     <h3>あなたの暮らしを変えるSeekleでの住まいサービス</h3>
   </div>



  <div class="home-category-wrapper">
  <h2>イベント ジャンル</h2>
   <div class="categories">
     <ul>
       <div class="bootstrap">
         <li><div class="panel panel-default">
       <div class="panel-heading">
        <h3 class="panel-title"><%= link_to "イベントメイクアップ","/notes/event" %></h3>
       </div>
   
  <%= link_to image_tag( 'event/makeup.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>
       </div>
         </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "結婚司会","/notes/event" %></h3>
  </div>
          <%= link_to image_tag( 'event/bouquet.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>

    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "バーテンディング","/notes/event" %></h3>
     </div>
       
  <%= link_to image_tag( 'event/cocktails.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "フラワーデザイナー","/notes/event" %></h3>
 </div>
        
  <%= link_to image_tag( 'event/floral-arrangement.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>


    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "マジシャン","/notes/event" %></h3>
     </div>
     
  <%= link_to image_tag( 'event/magicianhat.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "イベントカメラマン","/notes/event" %></h3>
     </div>
       
  <%= link_to image_tag('event/camera.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>


    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "フェイスペインティング","/notes/event" %></h3>
     </div>
        
  <%= link_to image_tag('event/facepaint.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>

    </div>
  </li>
  </div>




  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ヘアスタイリング","/notes/event" %></h3>
     </div>
    
  <%= link_to image_tag('event/bride.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>

    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "バルーンアーティスト","/notes/event" %></h3>
     </div>
  <%= link_to image_tag('event/shoes.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>
    </div>
  </li>
  </div>





  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "コメディアン","/notes/event" %></h3>
     </div>
  <%= link_to image_tag('event/microphone.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>
    </div>
  </li>
  </div>

    <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "DJ","/notes/event" %></h3>
     </div>
  <%= link_to image_tag( 'event/record.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>

    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/event" %></h3>
     </div>

  <%= link_to image_tag( 'event/eyeshadow.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/event" %>

    </div>
  </li>
 </ul>
  </div>






  </div>
 </div>
