
     <%= render 'category/header' %>


<div class="home-all-wrapper">
<div class="home-little clearfix">
   <div class="top_home_page">
    <h1>イベント</h1>
     <h3>あなたの暮らしを変えるSeekleでの住まいサービス</h3>
   </div>




  <div class="home-category-wrapper">
  <h2>イベント ジャンル</h2>
   <div class="categories">
     <ul>
       <div class="bootstrap">
         <li><div class="panel panel-default">
       <div class="panel-heading">
        <h3 class="panel-title"><%= link_to "イベントメイクアップ","/notes/search" %></h3>
       </div>
    <%= image_tag 'event/makeup.png', :class => 'panel-body-housing', :size => 'cover'%>
       </div>
         </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "結婚司会","/notes/search" %></h3>
  </div>
         <%= image_tag 'event/bouquet.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "バーテンディング","/notes/search" %></h3>
     </div>
        <%= image_tag 'event/cocktails.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "フラワーデザイナー","/notes/search" %></h3>
 </div>
         <%= image_tag 'event/floral-arrangement.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "マジシャン","/notes/search" %></h3>
     </div>
         <%= image_tag 'event/magicianhat.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "イベントカメラマン","/notes/search" %></h3>
     </div>
       <%= image_tag 'event/camera.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "フェイスペインティング","/notes/search" %></h3>
     </div>
        <%= image_tag 'event/facepaint.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>





  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ヘアスタイリング","/notes/search" %></h3>
     </div>
       <%= image_tag 'event/bride.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "バルーンアーティスト","/notes/search" %></h3>
     </div>
        <%= image_tag 'event/shoes.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "コメディアン","/notes/search" %></h3>
     </div>
      <%= image_tag 'event/microphone.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

    <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "DJ","/notes/search" %></h3>
     </div>
       <%= image_tag 'event/record.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/search" %></h3>
     </div>
      <%= image_tag 'event/eyeshadow.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
 </ul>
  </div>





  </div>
 </div>
