     <%= render 'category/header' %>
     
    <%= render 'category/responsivemenuvar' %>
<%= render 'home/header/dashboardhead' %>
<div class="home-all-wrapper">
   <div class="top_home_page">


    <h1>健康</h1>
     <h3>あなたの健康を支えるSeekleでの健康サービス</h3>
   </div>


   <div class="categories">




    <ul>
      <div class="bootstrap">
        <h4>健康 ジャンル</h4>
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "マッサージ","/notes/health" %></h3>
  </div>
 
  <%= link_to image_tag( 'health/massage.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>

<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "エステ","/notes/health" %></h3>
  </div>
    
  <%= link_to image_tag( 'health/este.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "サイクリング","/notes/health" %></h3>
     </div>
     
  <%= link_to image_tag( 'health/cicling.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "ヨガ","/notes/health" %></h3>
 </div>
       <%= link_to image_tag( 'health/ballet.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "栄養士","/notes/health" %></h3>
     </div>
    
  <%= link_to image_tag( 'health/vegies.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "セラピー","/notes/health" %></h3>
     </div>
  <%= link_to image_tag( 'health/lotus.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>




  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "パーソナルシェフ","/notes/health" %></h3>
     </div>
  <%= link_to image_tag( 'health/chef.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>    </div>
  </li>
  </div>





  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "人生相談","/notes/health" %></h3>
     </div>
     
  <%= link_to image_tag( 'health/chairs.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "カウンセリング","/notes/health" %></h3>
     </div>
     
  <%= link_to image_tag( 'health/coffee.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "座禅","/notes/health" %></h3>
     </div>
     
    <%= link_to image_tag( 'health/temple.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ストレッチ","/notes/health" %></h3>
     </div>
     <%= link_to image_tag( 'health/strech.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
  </div>

<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/health" %></h3>
     </div>
          <%= link_to image_tag( 'pigeon.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health" %>
    </div>
  </li>
 </ul>
  </div>

  </div>
 </div>
