<% provide :title, "健康"  %>   
<%= render 'category/header' %>
<%= render 'category/responsivemenuvar' %>
<%= render 'home/header/dashboardhead' %>
<div class="home-all-wrapper">
  <div class="top_home_page">

    <h1>健康</h1>
     <h3>あなたの健康を支えるSeekleでの健康サービス</h3>
  </div>

<div class="main-container">
  <div class="categories">
  <ul>
    <h4>健康 ジャンル</h4>
   <div class="bootstrap">
    <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "カウンセリング","/notes/health?category=カウンセリング"%></h3>
  </div>
 
  <%= link_to image_tag( 'health/chairs.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health?category=カウンセリング" %>
    </div>
  </li>
  </div>

<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "エクササイズ","/notes/health?category=エクササイズ" %></h3>
  </div>
    
  <%= link_to image_tag( 'health/strech.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health?category=エクササイズ" %>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ヒーリング","/notes/health?category=ヒーリング"%></h3>
     </div>
     
  <%= link_to image_tag( 'health/lotus.png', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/health?category=ヒーリング" %>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "コーチング","/notes/health?category=コーチング" %></h3>
 </div>
       <%= link_to image_tag( 'health/coffee.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health?category=コーチング" %>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "マッサージ","/notes/health?category=マッサージ" %></h3>
     </div>
    
  <%= link_to image_tag( 'health/massage.png', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/health?category=マッサージ" %>
    </div>
  </li>
  </div>

 <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "エステ","/notes/health?category=エステ" %></h3>
     </div>
    
  <%= link_to image_tag( 'health/este.png', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/health?category=エステ" %>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "パーソナルシェフ","/notes/health?category=パーソナルシェフ" %></h3>
     </div>
  <%= link_to image_tag( 'health/chef.png', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/health?category=パーソナルシェフ" %>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "デンタルケア","/notes/health?category=デンタルケア" %></h3>
     </div>
  <%= link_to image_tag( 'health/dental.jpg', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/health?category=デンタルケア" %>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "パーソナルトレーニング","/notes/health?category=パーソナルトレーニング" %></h3>
     </div>
  <%= link_to image_tag( 'health/strech.png', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/health?category=パーソナルトレーニング" %>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "アロマセラピー","/notes/health?category=アロマセラピー" %></h3>
     </div>
  <%= link_to image_tag( 'health/aroma.jpg', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/health?category=アロマセラピー" %>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "介護ヘルパー","/notes/health?category=介護ヘルパー" %></h3>
     </div>
  <%= link_to image_tag( 'health/helper.jpg', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/health?category=介護ヘルパー" %>
    </div>
  </li>
  </div>




  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/health?category=その他" %></h3>
     </div>
  <%= link_to image_tag( '', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/health?category=その他" %>    </div>
  </li>
  </div>


 </ul>
  </div>

  </div>
 </div>
