     <%= render 'category/header' %>

<div class="home-all-wrapper">

<div class="home-little clearfix">
   <div class="top_home_page">


    <h1>住まい</h1>
     <h3>暮らしを変えるSeekleでの住まいサービス</h3>


   </div>

  <div class="home-category-wrapper">

  <h2>住まい ジャンル</h2>

   <div class="categories">
    <ul>
      <div class="bootstrap">
       <li><div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to "便利屋 修復","/notes/search" %></h3>
      </div>
  <%= image_tag 'housing/repair.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
     </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "増設、リモデル","/notes/search" %></h3>
  </div>
       <%= image_tag 'housing/blueprint.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "コンクリート","/notes/search" %></h3>
     </div>
        <%= image_tag 'housing/concrete.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "ペインティング","/notes/search" %></h3>
 </div>
   <%= image_tag 'housing/painting.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "屋根、雨漏り","/notes/search" %></h3>
     </div>
      <%= image_tag 'housing/roof.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "壁、階段、フレーミング","/notes/search" %></h3>
     </div>
 <%= image_tag 'housing/floor.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ドア、窓","/notes/search" %></h3>
     </div>
    <%= image_tag 'housing/window.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "クリーニング","/notes/search" %></h3>
     </div>
    <%= image_tag 'housing/cleaning.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "引っ越し","/notes/search" %></h3>
     </div>
    <%= image_tag 'housing/moving.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>


   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "大工、木工","/notes/search" %></h3>
     </div>
   <%= image_tag 'housing/crosscut.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>


   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "配管工事","/notes/search" %></h3>
     </div>
   <%= image_tag 'housing/plumber.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>





   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/search" %></h3>
     </div>
    <%= image_tag 'pigeon.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
 </ul>
  </div>


  </div>
 </div>


