     <%= render 'category/header' %>



<div class="home-all-wrapper">

<div class="home-little clearfix">
   <div class="top_home_page">


    <h1>習い事</h1>
     <h3>あなたの暮らしを変えるSeekleでの住まいサービス</h3>


   </div>



  <div class="home-category-wrapper">

  <h2>住まい ジャンル</h2>




   <div class="categories">
     <ul>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "歌","/notes/search" %></h3>
  </div>
     

  <%= link_to image_tag( 'lesson/guitar.png', { :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>

    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "語学","/notes/search" %></h3>
  </div>
  <%= link_to image_tag( 'lesson/english.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>
    </div>
  </li>


     <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "料理","/notes/search" %></h3>
     </div>
   

  <%= link_to image_tag('lesson/cooking.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>

    </div>
  </li>


   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ピアノ","/notes/search" %></h3>
     </div>
        
  <%= link_to image_tag('lesson/piano.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>
    </div>
  </li>






   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "武道","/notes/search" %></h3>
 </div>
       <%= link_to image_tag('lesson/muay.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>

    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ウェブ","/notes/search" %></h3>
     </div>
  
  <%= link_to image_tag('lesson/coding.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ダンス","/notes/search" %></h3>
     </div>
     
  <%= link_to image_tag('lesson/dance.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "勉学","/notes/search" %></h3>
     </div>
          <%= link_to image_tag('lesson/study.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "絵","/notes/search" %></h3>
     </div>
      
  <%= link_to image_tag('lesson/paint.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "パーソナルトレーニング","/notes/search" %></h3>
     </div>
         <%= link_to image_tag('lesson/fitness.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>

    </div>
  </li>




   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "編み物","/notes/search" %></h3>
     </div>
    
  <%= link_to image_tag('lesson/crochet.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>

    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/search" %></h3>
     </div>
        
  <%= link_to image_tag('pigeon.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/search" %>
    </div>
  </li>
 </ul>
  </div>
  </div>
 </div>

