   
<% provide :title, "習い事"  %>   
<%= render 'category/header' %>
     
    <%= render 'category/responsivemenuvar' %>
<%= render 'home/header/dashboardhead' %>
<div class="home-all-wrapper">

   <div class="top_home_page">

    <h1>習い事</h1>
     <h3>Seekleであなたの趣味、特技をもっと深めよう</h3>


   </div>
<div class="main-container">
   <div class="categories">
 <ul>
            <h4>習い事 ジャンル</h4>
      <div class="bootstrap">


 <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "楽器演奏","/notes/lesson?category=楽器演奏" %></h3>
  </div>
     

  <%= link_to image_tag( 'lesson/drum.jpg', { :class => 'panel-body-housing', :size => 'cover'}),"/notes/lesson?category=楽器演奏"%>

    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "ボイストレーニング","/notes/lesson?category=ボイストレーニング"%></h3>
  </div>
  <%= link_to image_tag( 'lesson/piano.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=ボイストレーニング" %>
    </div>
  </li>


     <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ダンス","/notes/lesson?category=ダンス" %></h3>
     </div>
   

  <%= link_to image_tag('lesson/dance.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=ダンス" %>

    </div>
  </li>


   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "絵画教室","/notes/lesson?category=絵画教室" %></h3>
     </div>
        
  <%= link_to image_tag('lesson/paint.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=絵画教室" %>
    </div>
  </li>






   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "アロマ教室","/notes/lesson?category=アロマ教室"%></h3>
 </div>
       <%= link_to image_tag('lesson/aroma.jpg',{ :class => 'panel-body-housing', :size => 'cover'}),"/notes/lesson?category=アロマ教室"%>

    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "身体作り","/notes/lesson?category=身体作り" %></h3>
     </div>
  
  <%= link_to image_tag('lesson/shoes.jpg',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=身体作り" %>
    </div>
  </li>

   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "スポーツ","/notes/lesson?category=スポーツ" %></h3>
     </div>
     
  <%= link_to image_tag('lesson/tennis.jpg',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=スポーツ" %>
    </div>
  </li>

  
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "語学","/notes/lesson?category=語学" %></h3>
     </div>
  
  <%= link_to image_tag('lesson/teacher.jpg',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=語学" %>
    </div>
  </li>

     <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "学習","/notes/lesson?category=学習" %></h3>
     </div>
  
  <%= link_to image_tag('lesson/study.png',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=学習" %>
    </div>
  </li>

     <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "料理","/notes/lesson?category=料理" %></h3>
     </div>
  
  <%= link_to image_tag('lesson/cooking.jpg',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=料理" %>
    </div>
  </li>

     <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "フラワーアレンジメント","/notes/lesson?category=フラワーアレンジメント" %></h3>
     </div>
  
  <%= link_to image_tag('lesson/flower.jpg',{ :class => 'panel-body-housing', :size => 'cover'}), "/notes/lesson?category=フラワーアレンジメント" %>
    </div>
  </li>


   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/lesson?category=その他"%></h3>
     </div>
        
  <%= link_to image_tag('',{ :class => 'panel-body-housing', :size => 'cover'}),"/notes/lesson?category=その他"%>
    </div>
  </li>


 </ul>
  </div>
  </div>
 </div>

