
<div class="genre">
<div class="bootstrap1">
<ol class="breadcrumb">
ホーム＞ 関西＞ 兵庫
</ol>
</div>
  </div>

    <div class="left-other-housing">

     <div class="other-jobs-menu">
      <h2>住まい</h2>
      <ul>


       <li>便利屋</li>
       <li>修復</li>
       <li>増設</li>
       <li>リモデル</li>
       <li>コンクリート</li>
       <li>石像建築</li>
       <li>ペインティング</li>
       <li>クリーニング</li>
       <li>屋根、雨漏り</li>
       <li>配管工事</li>
       <li>引っ越し</li>
       <li>壁</li>
      <li>階段</li>
      <li>大工、木工</li>
        <li>その他</li>
      </ul>
      <br><br>
      <h2>都道府県から探す</h2>

<ul>







        <li>北海道</li>
        <li>東北</li>
        <li>関東</li>
        <li>中部</li>
        <li>関西</li>
        <li>中国・四国</li>
         <li>九州</li>
           </ul>
<br><br>
           <h2>ご利用にあたって</h2>
           <ul>
             <li>ご利用の流れ</li>
             <li>よくある質問</li>

           </ul>

         </div>
    </div>











<div class="show_providers clearfix">


<div class="introduce_providers">


  <div class="provider_job ">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", class: "provider_service_image")%>
    <div class="title"><h2><%= link_to '引っ越しのお手伝いをします','/housing/provider' %></h2></div>
        <p>引っ越し屋で8年のアルバイト歴があります。力仕事ならいつでもお任せください！頑張ってはこびます</p>
           <div class="service-price">
            <h3>¥10,000</h3>
           </div>
            <div class="provider_image">
             <%= image_tag "/users/profile"%>
            </div>
  </div>



  <div class="provider_job ">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", class: "provider_service_image")%>
       <div class="title"><h2>帰国子女が教える英語</h2></div>
         <p>15歳になるまでアメリカのニューヨークに住んでいました。英語も日本語もネイティブレベルで話せます。留学時のアドバイスもできます！</p>
          <div class="service-price">
           <h3>¥10,000</h3>
          </div>
           <div class="provider_image">
           <%= image_tag("a")%>
           </div>
   </div>


  <div class="provider_job ">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", class: "provider_service_image")%>
       <div class="title"><h2>帰国子女が教える英語</h2></div>
         <p>15歳になるまでアメリカのニューヨークに住んでいました。英語も日本語もネイティブレベルで話せます。留学時のアドバイスもできます！</p>
          <div class="service-price">
           <h3>¥10,000</h3>
          </div>
           <div class="provider_image">
           <%= image_tag("a")%>
           </div>
   </div>

  <div class="provider_job ">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", class: "provider_service_image")%>
       <div class="title"><h2>帰国子女が教える英語</h2></div>
         <p>15歳になるまでアメリカのニューヨークに住んでいました。英語も日本語もネイティブレベルで話せます。留学時のアドバイスもできます！</p>
          <div class="service-price">
           <h3>¥10,000</h3>
          </div>
           <div class="provider_image">
           <%= image_tag("a")%>
           </div>
   </div>


    <div class="provider_job ">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", class: "provider_service_image")%>
       <div class="title"><h2>帰国子女が教える英語</h2></div>
         <p>15歳になるまでアメリカのニューヨークに住んでいました。英語も日本語もネイティブレベルで話せます。留学時のアドバイスもできます！</p>
          <div class="service-price">
           <h3>¥10,000</h3>
          </div>
           <div class="provider_image">
           <%= image_tag("a")%>
           </div>
   </div>



    <div class="provider_job ">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", class: "provider_service_image")%>
       <div class="title"><h2>帰国子女が教える英語</h2></div>
         <p>15歳になるまでアメリカのニューヨークに住んでいました。英語も日本語もネイティブレベルで話せます。留学時のアドバイスもできます！</p>
          <div class="service-price">
           <h3>¥10,000</h3>
          </div>
           <div class="provider_image">
           <%= image_tag("a")%>
           </div>
   </div>


    <div class="provider_job ">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", class: "provider_service_image")%>
       <div class="title"><h2>帰国子女が教える英語</h2></div>
         <p>15歳になるまでアメリカのニューヨークに住んでいました。英語も日本語もネイティブレベルで話せます。留学時のアドバイスもできます！</p>
          <div class="service-price">
           <h3>¥10,000</h3>
          </div>
           <div class="provider_image">
           <%= image_tag("a")%>
           </div>
   </div>

  </div>
  </div>



  </div>
  </div>

