<div class="up-var">
  <div class="upper-menu">
    <div class="wrapper" >
      <ul>
        <li><a href='/users'>マイページ</a></li>
         <li><a href='/mailbox/inbox'>メッセージ
        <li><a href='/users/reservations'>取引履歴</a></li>
        <li><a href='/users/edit'>基本設定</a></li>
       
      </ul>
    </div>
  </div>
</div>


<div class="providers_new_post">
<div class="bootstrap">
<h2>一般アカウント設定</h2>
</br>
 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


<table class="newpost">

    <tr>
     <th> <p>プロフィール写真 <span class="form-label required">必須</span></p></th>
     <td>
     <%= f.file_field :mainpic, class: "form-control image-field" %>
      <%= f.hidden_field :mainpic_cache %>
    </td>
  </tr>

    <tr>
     <th> <p>ユーザーネーム <span class="form-label required">必須</span></p></th>
     <td>
     <%= f.text_field :name, class: 'form-control' %>
    </td>
  </tr>


   <tr>
     <th> <p>自己紹介 <span class="form-label required">必須</span></p></th>
     <td>
 
<%= f.text_area :profile, class: 'content-area',placeholder:"お店の特徴、提供サービスへの思い、オススメポイントなどを紹介しましょう" %>
    </td>
  </tr>




 
   <tr>
     <th> <p>メールアドレス <span class="form-label required">必須</span></p></th>
     <td>
     <%= f.email_field :email, class: "form-control" %>
    </td>
  </tr>


   <tr>
     <th> <p>現在のパスワード <span class="form-label required">必須</span></p></th>
     <td>
     <%= f.password_field :current_password, class: "form-control" %>
    </td>
  </tr>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

 

</table></div>

  <div class="actions">
     <%= f.submit '保存する', :class => 'provider_join_btn', data:{ disable_with: "保存中・・・"} %>
  </div>
<% end %>


<h3>アカウントを削除する</h3>

<p>退会してしまうと現在のデータはすべて削除されます。<%= button_to "退会する", registration_path(resource_name), :class => 'provider_delete_btn' , data: { confirm: "本当に退会しますか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>


  </div>
</div>






