
 <div class="content_in_user">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="bootstrap1">
  <h1>アカウント作成</h1>

 <div class="name_field">
    <%= f.label :ユーザーネーム %><br />
    <%= f.text_field :name,  autofocus: true%>
  </div>



<%= f.hidden_field :mainpic, autofocus: true %>


<%= f.hidden_field :profile, autofocus: true %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%=@minimum_password_length%>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウントを作成する" , class: "log_button", id: "sign" %>
  </div>
  </div>
<% end %>




<%= render "devise/shared/links"%>
  </div>
</div>


