<%= render 'providers/header' %>

<div class="providers_new_post">
<div class="bootstrap">

<h2>店舗の基本情報を編集する</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <table class="newpost">
 

     <tr>
   <th> <p>店舗名<span class="form-label required">必須</span></p></th>
   <td>
    <%= f.text_field :name, class: 'form-control',placeholder:"〇〇〇〇サービス" %>
  </td>
</tr>

   <tr>
   <th> <p>営業時間<span class="form-label required">必須</span></p></th>
   <td>
    <%= f.text_field :hours, class: 'form-control',placeholder:"8時～15時受付まで対応可" %>
  </td>
</tr>

 <tr>
   <th> <p>定休日<span class="form-label required">必須</span></p></th>
   <td>
    <%= f.text_field :holiday, class: 'form-control',placeholder:"不定休" %>
  </td>
</tr>

  <tr>
   <th> <p>住所<span class="form-label required">必須</span></p></th>
   <td>
    <%= f.text_field :address, class: 'form-control',placeholder:"〒123-4567 
〇〇県 〇〇市 1-2-3" %>
  </td>
</tr>

  <tr>
   <th> <p>お支払い方法<span class="form-label required">必須</span></p></th>
   <td>
    <%= f.text_field :payment, class: 'form-control',placeholder:"現金・クレジットカード" %>
  </td>
</tr>

  <tr>
   <th> <p>電話番号<span class="form-label required">必須</span></p></th>
   <td>
    <%= f.text_field :phonenumber, class: 'form-control',placeholder:"1234-56-7890" %>
  </td>
</tr>


<tr>
 <th> <p>店舗概要<span class="form-label required">必須</span> </p></th>
 <td>
  <%= f.text_area :about, class: 'content-area',placeholder:"お店の特徴、オススメポイントなどを紹介しましょう" %>
</td>
</tr>


<tr>
 <th> <p>店舗写真<span class="form-label required">必須</span> </p></th>
 <td>
  <%= f.file_field :provider_pic, class: "form-control image-field" %>
   <%= f.hidden_field :provider_pic_cache %>
</td>
</tr>



  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

</div>
</table>
</div>

    <%= f.submit "編集を更新する",  :class => 'btn btn-default'%>

<% end %>

<h3>アカウントを削除する</h3>

<p>Unhappy? <%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  :class => 'provider_delete_btn' %></p>

<%= link_to "Back", :back %>

</div>
</div>
