<%= render 'providers/header' %>
<div class="providers_signup">

<h2>Seekleに無料でサービスを掲載する</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="field2">
    <h3>店舗名</h3>
    <%= f.text_field :name, autofocus: true %>
  </div>

 <%= f.fields_for :provider_accounts do |b| %>


  <div class="field2">
    <h3>店長(代表者名)</h3>
    <%= b.text_field  :staffname, autofocus: true %>
  </div>

  <div class="field2">
    <h3>電話番号</h3>
    <%= b.text_field  :phonenumber, autofocus: true %>
  </div>


  <div class="field2">
    <h3>メールアドレス</h3>
    <%= f.email_field :email, autofocus: true %>
  </div>


  <div class="field2">
    <h3>パスワード</h3>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field2">
    <h3>パスワード（確認）</h3>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>



 <%= f.fields_for :store_infos do |s| %>

<%= s.hidden_field :postalcode %>
  <%= s.hidden_field :prefecture %>
   <%= s.hidden_field :city %>
    <%= s.hidden_field :address%>
        <%= s.hidden_field :building %>
 <%= s.hidden_field :provider_id %>
  <%= s.hidden_field :hours %>
   <%= s.hidden_field :holiday %>
    <%= s.hidden_field :payment%>
 <%= s.hidden_field :about %>



  <div class="actions">
    <%= f.submit "サービス提供者として登録する",:class => 'provider_join_btn' %>
  </div>
  <% end %>
  <% end %>
    <% end %>
 
すでにアカウントをお持ちですか？<%= render "providers/shared/links" %>
</div>




