
<div class="bootstrap">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <% if conversation.last_sender.mainpic? %>
        
        <%= image_tag conversation.last_sender.mainpic, :class => 'media-object' , :size => '64x64'  %>
        <% else %>
        <%= image_tag 'Seekle_icon.png', :class => 'media-object' , :size => '64x64'  %>
        <% end %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= conversation.last_sender.name %> <br>
        <small><b>件名: </b><%= conversation.subject %></small><br>
        <small><b>日付: </b><%=  conversation.messages.last.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[conversation.messages.last.created_at.wday]})  %I:%M%p") %></small>
      </h4>
      <%= truncate conversation.messages.last.body, length: 145 %>

      <% if current_user.try (:id?) %>
      <%= link_to "開く", conversation_path(conversation)  %>
      <%else%>
      <%= link_to "開く", provider_path(conversation)  %>
      <% end %>

    </div>
  </div>
</div>
