 
<div class="bootstrap">

<%= form_for :conversation, url: note_conversations_path, html: { class: "" } do |f| %>
    <div class="form-group">
    <p class="message-title"><%=  @note.provider.name %>さんの<br>「<%=  @note.title %>」<br>についてお問い合わせします</p>
    </div>
    <div class="form-group">
      <%= f.label :お問い合わせ内容 %>
      <%= f.text_field :subject, placeholder: "例：料金について", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :内容 %>
      <%= f.text_area :body, class: 'form-control',placeholder: "お問い合わせ内容を入力してください", rows: 4  %>
    </div>


    <%= f.submit "送信する", class: "btn btn-success" %>

<% end %>

