

<div class="bootstrap">

<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :宛先 %>
      <%= f.select(:recipients, Provider.all.collect {|p| [ p.storename, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
    </div>
    <div class="form-group">
      <%= f.label :件名 %>
      <%= f.text_field :subject, placeholder: "件名", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :内容 %>
      <%= f.text_area :body, class: 'form-control',placeholder: "メッセージを入力してください", rows: 4  %>
    </div>


    <%= f.submit "送信する", class: "btn btn-success" %>

<% end %>

