<div class="bootstrap">
  <div class="media">
    <div class="media-left">
      <a href="#">
       
        <% if provider.originator.profile_pic? %>
        
        <%= image_tag provider.originator.profile_pic, :class => 'media-object' , :size => '64x64'  %>
        <% else %>

        <%= image_tag 'Seekle_icon.png', :class => 'media-object' , :size => '64x64'  %>

        <% end %>

      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= provider.last_sender.name %> <br>
        <small><b>件名: </b><%= provider.subject %></small><br>
        <small><b>日付: </b><%= provider.messages.last.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[provider.messages.last.created_at.wday]})  %I:%M%p") %></small>
      </h4>
      <%= truncate provider.messages.last.body, length: 145 %>
      <%= link_to "開く", provider_path(provider)  %>
    </div>
  </div>
</div>
