<%= render 'users/header' %>




<div class="reservation_history_wrapper">

	<h1><%= current_user.name %>さんの予約中サービス </h1>



<% if current_user.reservations.blank? %>
<p>予約中のサービスはまだありません</p>
<% else %>
<div class="bootstrap">
		<% @reservations.each do |reservation| %>

<div class="panel panel-default">

  <div class="panel-body">
  	<table class="newpost">
		<tr>
			<td><%= reservation.date %></td>
           <td><%= reservation.note.title %></td>
           <td><%= reservation.note.provider.name %></td>
		</tr>
		</table>
	</div></div>
		<% end %>
		<% end %>
</div>
</div>

