<%= render 'users/header' %>


<div class="mypage-all_wrapper">
   <h1><%= current_user.name %>さんのページ  </h1>
<div class="notification_user">


<div class="notification_header">
<h2>新着メッセージ</h2>
</div>

<div class="notification_content">
<em class="fa fa-inbox fa-lg"></em><a href='/mailbox/inbox'> <%=unread_messages_count%></a>件の未読メッセージがあります！
</div>

<div class="notification_header">
<h2>予約中サービス</h2>
</div>

<div class="notification_content">
  現在<a href='/users/history'> <%= current_user.reservations.count %></a>件の予約をしています。

<br>
   <% current_user.reservations.each do |reservation| %>
   <tr>
     <td><%= reservation.date %></td>
     <td><%= reservation.note.title%></td>
     <td><%= reservation.phone_number %></td>
     <td><%= reservation.user_id %></td>
   </tr>
   <% end %>

 </div>
</div>
</div>


