

<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
     <li><a href='/users'>マイページ</a></li>
     <li><%= link_to '掲載中', notes_path %></li>
     <li><a href='/dashboard/transaction'>取引方法</a></li>
     <li><a href='/users/edit'>設定</a></li>
     <li><a href='/mailbox/inbox'>メッセージ
<div class="bootstrap">
 <span class="label label-danger pull-right"><%=unread_messages_count%></span></div></a></li>
    </ul>
    </div>
  </div>
  </div>



<div class="mypage-all_wrapper">
<div class="left-wrapper">

<div class="mypage-picture">
<%= current_user.profile_pic %>
 </div>


 <div class="security-wrapper">


  <div class="bootstrap">
   <div class="profilelink">
<ul class="nav nav-pills">


 <li role="presentation" ><a href="/users/edit">プロフィールを編集</a></li>
</ul>

  </div>





 <!-- Large button group -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">セキュリティー承認</h3>
  </div>
  <div class="panel-body">
    Facebook承認
  </div>
  <div class="panel-body">
    パスポート
  </div>
  <div class="panel-body">
    身分証明書
  </div>
</div>
</div>

 </div>
  </div>

<div class="mypage_wrapper">




 <h1><%= current_user.user_name %>さんのページ</h1>

 <h3>所在地： <%= current_user.area %> </h3>

 <h3>自己紹介：</h3> <p>シアトル、バンクーバーで英語を学びました。大手英会話学校大人校にて７年、英会話を教えました。ABCから始める初心者の方を担当し、５年後には子供校英会話教師になられるまで上達された生徒さんもおられました。今は企業や大学でも教えています。学校にて学んだ英語より英会話はもっと楽しく、ある意味コツさえつかめば簡単にコミュニケーションツールとしての英語をマスターすることが出来ます。

英語耳を養うこと、完璧な文のなかで単語力をつけていくことが上達の鍵です。英語が苦手な方を英語好きにするのには自信があります！是非一緒に英会話の学習を始めましょう！<%=current_user.profile %>
</p>

  <h3>お気に入り一覧</h3>


<ul class="notes">


</ul>
  </div>





