
<div class="providers_signup">

<div class="forgot-password-wrapper">
<h2>パスワードを変更</h2>
<p>新しく使うパスワードを入力してください</p>


<div class="bootstrap">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "新しいパスワード" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em><br />
    <% end %>


    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "新しいパスワード(確認)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

   <div class="actions">
    <%= f.submit "パスワードを変更" ,class: "provider_join_btn" %>
  </div>
<% end %>





</div>
</div>

</div>