
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
       <li><a href="/housing/index">住まい</a></li>
    <li><a href="/housing/event">イベント</a></li>
    <li><a href="/housing/lesson">習い事</a></li>
      <li><a href="/housing/health">健康</a></li>
   <li><a href="/housing/others">その他</a></li>
    </ul>
    </div>
  </div>
  </div>



<div class="home-all-wrapper">
<div class="home-little clearfix">
   <div class="top_home_page">
    <h1>イベント</h1>
     <h3>あなたの暮らしを変えるSeekleでの住まいサービス</h3>
   </div>




  <div class="home-category-wrapper">
  <h2>イベント ジャンル</h2>
   <div class="categories">
     <ul>
       <div class="bootstrap">
         <li><div class="panel panel-default">
       <div class="panel-heading">
        <h3 class="panel-title"><%= link_to "イベントメイクアップ","/notes/search" %></h3>
       </div>
    <%= image_tag 'makeup.png', :class => 'panel-body-housing', :size => 'cover'%>
       </div>
         </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "結婚司会","/notes/search" %></h3>
  </div>
         <%= image_tag 'bouquet.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "バーテンディング","/notes/search" %></h3>
     </div>
        <%= image_tag 'cocktails.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "フラワーデザイナー","/notes/search" %></h3>
 </div>
         <%= image_tag 'floral-arrangement.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "マジシャン","/notes/search" %></h3>
     </div>
         <%= image_tag 'magicianhat.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "イベントカメラマン","/notes/search" %></h3>
     </div>
       <%= image_tag 'camera.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "フェイスペインティング","/notes/search" %></h3>
     </div>
        <%= image_tag 'facepaint.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>





  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ヘアスタイリング","/notes/search" %></h3>
     </div>
       <%= image_tag 'bride.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "バルーンアーティスト","/notes/search" %></h3>
     </div>
        <%= image_tag 'shoes.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "コメディアン","/notes/search" %></h3>
     </div>
      <%= image_tag 'microphone.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

    <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "DJ","/notes/search" %></h3>
     </div>
       <%= image_tag 'record.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/search" %></h3>
     </div>
      <%= image_tag 'eyeshadow.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
 </ul>
  </div>





  </div>
 </div>
