
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
       <li><a href="/housing/index">住まい</a></li>
    <li><a href="/housing/event">イベント</a></li>
    <li><a href="/housing/lesson">習い事</a></li>
      <li><a href="/housing/health">健康</a></li>
   <li><a href="/housing/others">その他</a></li>
    </ul>
    </div>
  </div>
  </div>

<div class="home-all-wrapper">

<div class="home-little clearfix">
   <div class="top_home_page">


    <h1>健康</h1>
     <h3>あなたの健康を支えるSeekleでの健康サービス</h3>


   </div>





  <div class="home-category-wrapper">

  <h2>健康 ジャンル</h2>




   <div class="categories">
     <ul>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "マッサージ","/notes/search" %></h3>
  </div>
    <%= image_tag 'health/massage.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "エステ","/notes/search" %></h3>
  </div>
        <%= image_tag 'health/este.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "サイクリング","/notes/search" %></h3>
     </div>
       <%= image_tag 'health/cicling.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "ヨガ","/notes/search" %></h3>
 </div>
      <%= image_tag 'health/ballet.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "栄養士","/notes/search" %></h3>
     </div>
      <%= image_tag 'health/vegies.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "セラピー","/notes/search" %></h3>
     </div>
   <%= image_tag 'health/lotus.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "パーソナルシェフ","/notes/search" %></h3>
     </div>
<%= image_tag 'health/chef.png', :class => 'panel-body-housing', :size => 'cover'%>    </div>
  </li>
  </div>





  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "人生相談","/notes/search" %></h3>
     </div>
       <%= image_tag 'health/cheirs.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "カウンセリング","/notes/search" %></h3>
     </div>
       <%= image_tag 'health/coffee.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "座禅","/notes/search" %></h3>
     </div>
       <%= image_tag 'health/temple.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ストレッチ","/notes/search" %></h3>
     </div>
       <%= image_tag 'health/strech.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/search" %></h3>
     </div>
       <%= image_tag 'health/cooking.png', :class => 'panel-body-housing', :size => 'cover'%>
    </div>
  </li>
 </ul>
  </div>





  </div>
 </div>
