
<div class="nav-var">
 <div class="full-block jobstyle-row">
    <div class="wrapper" >
    <ul>
      <li>住まい</li>
      <li>イベント</li>
      <li>習い事</li>
      <li>健康</li>
      <li>その他</li>
    </ul>
    </div>
  </div>
  </div>


<div class="home-all-wrapper">

<div class="home-little clearfix">
   <div class="top_home_page">


<%= image_tag("tool-seekle.png",class: 'top_home_page') %>


    <h1>住まい</h1>
     <h3>あなたの暮らしを変えるSeekleでの住まいサービス</h3>


   </div>

      <div class="home_pictures_wrapper">
        <h1>人気のカテゴリー</h1>
        <div class="home_pictures">

<%= image_tag("computer.png",class: 'pic' , size: '260x200') %>
<%= image_tag("computer.png",class: 'pic' , size: '260x200') %>
<%= image_tag("computer.png",class: 'pic' , size: '260x200') %>
<%= image_tag("computer.png",class: 'pic' , size: '260x200') %>
      </div>
  </div>
  </div>




<heading>
  <div class="home-heading">
  <h2>住まい ジャンル</h2>
  </div>
    <div class="home-heading-next">
    </div>
   </heading>


  <div class="home-category-wrapper">
   <div class="categories">
     <ul>
      <li>便利屋と修復プロジェクト</li>
      <li>増設、リモデル</li>
      <li>配管工事</li>
      <li>引っ越し</li>
      <li>コンクリート、石造建築</li>
      <li>ペインティング</li>
      <li>屋根、雨漏り</li>
      <li>壁、階段、フレーミング</li>
      <li>ドア、窓</li>
      <li>クリーニング</li>
      <li>大工、木工</li>
      <li>その他</li>
     </ul>

  </div>

  </div>




<div class="home-story-wrapper">

  <div class="home-second-heading">
   </div>
  <h2>住まい ストーリー</h2>


  <div class="home-second-heading">
   </div>



 <div class="home-story">
   <div class= "main-story">

<%= image_tag("computer.png", size: '270x360') %>
   </div>

 <div class="about-story">
       <h1>Story</h1>
     </div>

    <div class="second-story">
    <%= image_tag("computer.png", size: '190x190') %>
 </div>

   <div class="about-story-second">
       <h1>Story</h1>
     </div>

<div class="more-detail">
 <h2>もっと詳しく</h2>
  </div>

 </div>
 </div>
