
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
<<<<<<< Updated upstream
       <li><a href="/housing/index">住まい</a></li>
    <li><a href="/housing/event">イベント</a></li>
    <li><a href="/housing/lesson">習い事</a></li>
      <li><a href="/housing/health">健康</a></li>
   <li><a href="/housing/others">その他</a></li>
    </ul>

    </div>
  </div>
  </div>

<div class="home-all-wrapper">

<div class="home-little clearfix">
   <div class="top_home_page">


    <h1>住まい</h1>
     <h3>暮らしを変えるSeekleでの住まいサービス</h3>


   </div>

  <div class="home-category-wrapper">

  <h2>住まい ジャンル</h2>




   <div class="categories">
     <ul>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "便利屋 修復","/notes/search" %></h3>
  </div>
      <div class="panel-body-housing-90">

      </div>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "増設、リモデル","/notes/search" %></h3>
  </div>
        <div class="panel-body-housing-91">

      </div>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "コンクリート","/notes/search" %></h3>
     </div>
        <div class="panel-body-housing-92">

      </div>
    </div>
  </li>
  </div>


<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
   <h3 class="panel-title"><%= link_to "ペインティング","/notes/search" %></h3>
 </div>
        <div class="panel-body-housing-93">

      </div>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "屋根、雨漏り","/notes/search" %></h3>
     </div>
       <div class="panel-body-housing-94">

      </div>
    </div>
  </li>
  </div>


  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "壁、階段、フレーミング","/notes/search" %></h3>
     </div>
   <div class="panel-body-housing-95">

      </div>
    </div>
  </li>
  </div>



  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "ドア、窓","/notes/search" %></h3>
     </div>
        <div class="panel-body-housing-96">

      </div>
    </div>
  </li>
  </div>





  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "クリーニング","/notes/search" %></h3>
     </div>
        <div class="panel-body-housing-97">

      </div>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "引っ越し","/notes/search" %></h3>
     </div>
        <div class="panel-body-housing-98">

      </div>
    </div>
  </li>
  </div>

  <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "大工、木工","/notes/search" %></h3>
     </div>
       <div class="panel-body-housing-99">

      </div>
    </div>
  </li>
  </div>

    <div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "配管工事","/notes/search" %></h3>
     </div>
       <div class="panel-body-housing-100">

      </div>
    </div>
  </li>
  </div>



<div class="bootstrap">
   <li><div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title"><%= link_to "その他","/notes/search" %></h3>
     </div>
        <div class="panel-body-housing-101">

      </div>
    </div>
  </li>
 </ul>
  </div>


  </div>
 </div>




