<div class="genre">
  <p> 住まい > 引っ越し </p>
</div>
<div class="create_requirement">
  <div class="date">
    日付
    <div class="date_content">
    <input type="textarea" name="data_reqirement" class="datepicker">
    <input type="textarea" name="data_reqirement" class="datepicker">
    </div>
  </div>
  <div class="gender">
    性別
    <div class="gender_content">
    <input type="checkbox" class="gender_option"><label>男性</label>
    <input type="checkbox" class="gender_option"><label>女性</label>
    </div>
  </div>
  <div class="price">
  <label for="amount">価格帯</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
  <div id="slider-range"></div>
  </div>
</div>
<div class="show_providers clearfix">
<!--   <div class="show_requirement">
  </div>
  <div class="proveiders_numbers">
  </div> -->
  <div class="provider_job ">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", size: "100x100", class: "provider_image")%>
        <%= image_tag("Ordre_national_du_merite_-_officier.jpg", size: "30x30", class: "provider_rewards")%>
    <h5>夜ト</h5>
    <%= link_to "犬の散歩します", '#', class: "title"%>
    <h2>¥10,000</h2>
  </div>
<!--   <div class='usage_explanation'>
    <h1>ご利用の流れ</h1>
    <%= image_tag("step_1", size: "100x100")%>
    <%= image_tag("step_1", size: "100x100")%>
    <%= image_tag("step_1", size: "100x100")%>
    <%= image_tag("step_1", size: "100x100")%>
    <%= image_tag("step_1", size: "100x100")%>
  </div> -->
    <div class="provider_job">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", size: "100x100", class: "provider_image")%>
    <h5>夜ト</h5>
    <%= image_tag("Ordre_national_du_merite_-_officier.jpg", size: "30x30", class: "provider_rewards")%>
    <%= link_to "犬の散歩します", '#', class: "title"%>
    <h2>¥10,000</h2>
  </div>  <div class="provider_job">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", size: "100x100", class: "provider_image")%>
    <h5>夜ト</h5>
    <%= image_tag("Ordre_national_du_merite_-_officier.jpg", size: "30x30", class: "provider_rewards")%>
    <%= link_to "犬の散歩します", '#', class: "title"%>
    <h2>¥10,000</h2>
  </div>  <div class="provider_job">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", size: "100x100", class: "provider_image")%>
    <h5>夜ト</h5>
    <%= image_tag("Ordre_national_du_merite_-_officier.jpg", size: "30x30", class: "provider_rewards")%>
    <%= link_to "犬の散歩します", '#', class: "title"%>
    <h2>¥10,000</h2>
  </div>  <div class="provider_job">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", size: "100x100", class: "provider_image")%>
    <h5>夜ト</h5>
    <%= image_tag("Ordre_national_du_merite_-_officier.jpg", size: "30x30", class: "provider_rewards")%>
    <%= link_to "犬の散歩します", '#', class: "title"%>
    <h2>¥10,000</h2>
  </div>  <div class="provider_job">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", size: "100x100", class: "provider_image")%>
    <h5>夜ト</h5>
    <%= image_tag("Ordre_national_du_merite_-_officier.jpg", size: "30x30", class: "provider_rewards")%>
    <%= link_to "犬の散歩します", '#', class: "title"%>
    <h2>¥10,000</h2>
  </div>  <div class="provider_job">
    <%= image_tag("Buq4YUxCcAAISFu.jpg", size: "100x100", class: "provider_image")%>
    <h5>夜ト</h5>
    <%= image_tag("Ordre_national_du_merite_-_officier.jpg", size: "30x30", class: "provider_rewards")%>
    <%= link_to "犬の散歩します", '#', class: "title"%>
    <h2>¥10,000</h2>
  </div>
</div>
