

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
 <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" rel="stylesheet" />




<div class="reservation-confirm">
  <div class="bootstrap">
  

    <%= form_for([@note, @reservation], url: {action: 'confirm'} ) do |f| %>
    <% if @reservation.errors.any? %>
    <div id="error_explanation">
     

      <ul>
        <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <table class="newpost">



      <tr>
       <th> <p>ご希望の日程 <span class="form-label required">必須</span></p></th>
       <td>
       第１候補　<%= f.text_field :workdate1, :id => 'reservation_reservation_dates_attributes_0_workdate1', placeholder: ' YYYY/MM/DD' , readonly:"true" %>

          希望時間   <%= f.select :worktime1, [["いつでも良い","いつでも"] ,["07:00"],["08:00"],["09:00"], ["10:00"], ["11:00"],["12:00"],["13:00"],["14:00"],["15:00"],["16:00"],["17:00"],["18:00"],["19:00"],["20:00"],["21:00"],["22:00"],["特に決まっていない"]], include_blank: '選択してください' %>
      </td>
    </tr>





      <tr>
       <th></th>
       <td>
       第２候補　<%= f.text_field :workdate2, :id => 'reservation_reservation_dates_attributes_0_workdate2', placeholder: ' YYYY/MM/DD' , readonly:"true" %>
         希望時間   <%= f.select :worktime2, [["いつでも良い"] ,["07:00"],["08:00"],["09:00"], ["10:00"], ["11:00"],["12:00"],["13:00"],["14:00"],["15:00"],["16:00"],["17:00"],["18:00"],["19:00"],["20:00"],["21:00"],["22:00"],["特に決まっていない"]], include_blank: '選択してください' %>
      </td>
    </tr>

 <tr>
       <th></th>
       <td>
       第３候補　<%= f.text_field :workdate3, :id => 'reservation_reservation_dates_attributes_0_workdate3', placeholder: ' YYYY/MM/DD' , readonly:"true" %>
        希望時間   <%= f.select :worktime3, [["いつでも良い"] ,["07:00"],["08:00"],["09:00"], ["10:00"], ["11:00"],["12:00"],["13:00"],["14:00"],["15:00"],["16:00"],["17:00"],["18:00"],["19:00"],["20:00"],["21:00"],["22:00"],["特に決まっていない"]], include_blank: '選択してください' %>
      </td>
    </tr>




    <tr>
      <th> <p>お名前 <span class="form-label required">必須</span></p></th>
      <td>
        <div class="row row-20">
         <div class="col-xs-5">
          <%= f.text_field :name,  class: 'form-control',placeholder:"山田 太郎" %>
        </div>
      </div>
    </td>
  </tr>


  <tr>
   <th> <p>電話番号<span class="form-label required">必須</span></p></th>
   <td>

    <div class="row row-20">
      <div class="col-xs-5">
        <%= f.text_field :phone_number,  class: 'form-control' ,  placeholder:"1234567890"%>

      </div>
    </div>
  </td>
</tr>






<tr>
 <th> <p>詳細予約内容 <span class="form-label required">必須</span></p></th>
 <td>
   <%= f.text_area :message , class: 'content-area', placeholder:"詳細のご要望内容、ご予約内容、事前に相談しておきたいこと等を書きましょう"%>
 </td>
</tr>
</table>




<%= f.submit '予約内容を確認する', class:'shadow_btn', data:{ disable_with: "・・・"} %>
<%= link_to "サービスページへ戻る", :back %>

<% end %>

</div>
</div>







<script type="text/javascript">
$(function(){

　$("#reservation_reservation_dates_attributes_0_workdate1").datepicker({
 
Format: 'yy年mm月dd日', //表示フォーマット
 minDate: '+2', //現在から２日後から選択可能にする
 
　onClose : function(){
　this.focus();
　　}
　})
});
 </script>

<script type="text/javascript">
$(function(){

　$("#reservation_reservation_dates_attributes_0_workdate2").datepicker({
 
Format: 'yy年mm月dd日', //表示フォーマット
 minDate: '+2', //現在から２日後から選択可能にする
 
　onClose : function(){
　this.focus();
　　}
　})
});
 </script>

<script type="text/javascript">
$(function(){

　$("#reservation_reservation_dates_attributes_0_workdate3").datepicker({
 
Format: 'yy年mm月dd日', //表示フォーマット
 minDate: '+2', //現在から２日後から選択可能にする
 
　onClose : function(){
　this.focus();
　　}
　})
});
 </script>


