
<div class="providers_info_show">
<div class="bootstrap">


<%= form_for([@note, @reservation] ) do |f| %>

   <div class="field">
    <h3>ご予約日</h3> 
 <p> 希望日時１：  <%= @reservation.workdate1 %> 　<%= @reservation.worktime1 %> </p>
   <%= f.hidden_field :workdate1 %>    <%= f.hidden_field :worktime1 %>
  <p> 希望日時２：  <%= @reservation.workdate2 %>   　<%= @reservation.worktime2 %></p>
  <%= f.hidden_field :workdate2 %>    <%= f.hidden_field :worktime2 %>
   <p> 希望日時３：  <%= @reservation.workdate3 %>   　<%= @reservation.worktime3 %></p>
   <%= f.hidden_field :workdate3 %>    <%= f.hidden_field :worktime3 %>
</div>

 


 <div class="field">
    <h3>お名前</h3> 
    <%= @reservation.name %>
    <%= f.hidden_field :name %>
</div>



 <div class="field">
    <h3>電話番号</h3> 
    <%= @reservation.phone_number %>
    <%= f.hidden_field :phone_number %>
</div>


 <div class="field">
    <h3>その他</h3> 
    <%= simple_format( @reservation.message) %>
    
    <%= f.hidden_field :message %>
</div>




  <div class="actions">
    <%= f.submit '予約内容を変更する', name: 'back',class: 'btn btn-default' %>
</div>
  <div class="actions">
    <%= f.submit '仮予約する' ,:class => 'shadow_btn',data:{ disable_with: "予約中・・・"} %>
</div>

<% end %>
</div></div>
