
<div class="providers_info_show">
<div class="bootstrap">


<%= form_for([@note, @reservation] ) do |f| %>
   <div class="field">
    <h3>ご予約日</h3> 
    <%= @reservation.date %>
    <%= f.hidden_field :date %>
</div>

 <div class="field">
    <h3>お名前</h3> 
    <%= @reservation.name %>
    <%= f.hidden_field :name %>
</div>



 <div class="field">
    <h3>電話番号</h3> 
    <%= @reservation.phone_number %>
    <%= f.hidden_field :phone_number %>
</div>


 <div class="field">
    <h3>その他</h3> 
    <%= @reservation.message %>
    <%= f.hidden_field :message %>
</div>




  <div class="actions">
    <%= f.submit '予約内容を変更する', name: 'back',class: 'btn btn-default' %>
</div>
  <div class="actions">
    <%= f.submit '仮予約する' ,class: 'btn btn-default' %>
</div>
<% end %>

</div></div>