
<%= render 'providers/header' %>


<div class="menu-back-head">

<%= link_to '掲載サービス一覧', notes_path %>
</div>

<div class="reservations_list">

<% @note.note_revisions.each do |note_revision| %>
<h1> <%= note_revision.title %>にされている予約一覧</h1> 
<% end %>
<div class="bootstrap">

  <% if @note.reservations.blank? %>
     <p>予約はまだありません</p>

   <% else %>

<table class="table">

  <thead>
    <tr>
      <th>お名前</th>
      <th>希望日程</th>
      <th>お問い合わせ</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @note.reservations.each do |reservation| %>
      <tr>

        <td><%= reservation.name %></td>
        <td>
        第１希望：　<br><%= reservation.workdate1 %> <%= reservation.worktime1 %>  <br><br>
        第２希望：<br><%= reservation.workdate2 %> <%= reservation.worktime2 %> <br><br>
        第３希望：<br><%= reservation.workdate3 %> <%= reservation.worktime3 %> 
        </td>
        <td><%= simple_format(reservation.message) %></td>
        




      </tr>
    <% end %>
  </tbody>
</table>
  <% end %>
</td>

<br>

</div>
</div>
