
<%= render 'providers/header' %>


<div class="menu-back-head">

<%= link_to '掲載サービス一覧', notes_path %>
</div>

<div class="reservations_list">
<% @note.note_revisions.each do |note_revision| %>
<h1> <%= note_revision.title %>にされている予約一覧</h1> 
<% end %>
<div class="bootstrap">

  <% if @note.reservations.blank? %>
     <p>予約はまだありません</p>

   <% else %>

<table class="table">

  <thead>
    <tr>
      <th>希望日程</th>
      <th>お名前</th>
      <th>電話番号</th>
      <th>お問い合わせ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @note.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.date %></td>
        <td><%= reservation.name %></td>
        <td><%= reservation.phone_number %></td>
        <td><%= simple_format(reservation.message) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% end %>
</td>

<br>

</div>
</div>
