<% provide :title, "予約サービス履歴"  %>
<div class="up-var">
  <div class="upper-menu">
    <div class="wrapper" >
            <div class="main-container">
      <ul>
        <li><a href='/users'>マイページ</a></li>
         <li><a href='/mailbox/inbox'>メッセージ
        <li><a href='/reservations/list'>取引履歴</a></li>
        <li><a href='/users/edit'>基本設定</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>

<%= render 'home/header/dashboardhead' %>


<div class="main-container">
<div class="reservation_history_wrapper">

  <h1><%= current_user.name %>さんの予約サービス履歴 </h1>

 
<div class="customer_reservations_wrapper">

 <% if @reservations.blank? %>
  <h3>予約中のサービスはまだありません</h3>
 <% else %>
    


    <% @reservations.each do |reservation| %>

<div class="reservation_info">

    <% reservation.note.note_revisions.each do |note_revision| %>
      <h4><%= link_to note_revision.title,detail_note_reservations_path(reservation.note) %></h4>
          <% end %>
        <p><%= reservation.note.provider.name %></p>
        <div class="bootstrap">
        <%= link_to "お問い合わせする",  new_note_conversation_path(reservation.note),:class =>'btn btn-default' %>   

</div>
</div>
    <% end %>
    
 <% end %>    
</div>


<div class="bootstrap">
 <div class="list-number clearfix">

 </div>
</div>
</div>

</div>
