
 

<div class="reservation-form">
<% @note.note_revisions.each do |note_revision| %>
<h1>  <%=  @note.provider.name %>さんの<br/>"<%=  note_revision.title %>"　仮予約フォーム</h1>


<div class="before_reservation_explain">

<div class="provider_info_for_reservation">
<% @note.provider.store_infos.each do |s| %>

<h3>《営業時間と定休日》</h3>
<p>
◆営業時間：<%=  s.hours %>　 ◆定休日：<%=  s.holiday %>
</p>


<h3>《変更とキャンセル》</h3>
<p><%=  note_revision.cancelrule %></p>


</div>
</div>
<%= render 'form' %>


</div>
   <% end %>   <% end %>
