<%= render 'users/header' %>
<%= render 'home/header/dashboardhead' %>

<div class="reservation_history_wrapper">

  <h1><%= current_user.name %>さんの予約中サービス </h1>

 
<div class="customer_reservations_wrapper">

 <% if current_user.reservations.blank? %>
  <p>予約中のサービスはまだありません</p>
 <% else %>
    <div class="bootstrap">

    <% @reservations.each do |reservation| %>

<div class="reservation_info">
      <h4><%= link_to reservation.note.title, note_path(reservation.note) %></h4>
        <p><%= reservation.note.provider.name %></p>
        <%= link_to "お問い合わせする",  new_note_conversation_path(reservation.note),:class =>'btn btn-default' %>   

</div>
    <% end %>
    
 <% end %>    
</div>


<div class="bootstrap">
 <div class="list-number clearfix">
   <%= paginate(@reservations) %>
 </div>
</div>


</div>
