<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>

	
<% @note.note_revisions.each do |note_revision| %>

    <h2>「<%=  note_revision.title %> 」への予約が完了しました。</h2>

<p>Seekleをご利用いただき、誠にありがとうございます。</p>
<p>「<%=  note_revision.title %> 」への予約が完了しました。</p>
<% end %>


 <br>============================================================
<br>
<br>
<p>氏名：<%= @name %></p>

 <p>希望のご予約日</p> 
 <p> 希望日時１：  <%= @workdate1 %> 　<%= @worktime1 %> </p>
 <p> 希望日時２：  <%= @workdate2 %>   　<%= @worktime2 %></p>
 <p> 希望日時３：  <%= @workdate3 %>   　<%= @worktime3 %></p>


 <p>お問い合わせ、質問等：<%= @message %></p>

<br>
 <br>============================================================

<p><%= @provider %>さんから連絡がきます。お返事を待ちましょう。</p>
<p>連絡が来ない場合はSeekleお問い合わせメールからお気軽にご相談ください。</p>
<br>

<br>※このEメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
<br>────────────────────────────────
<br>運営会社：株式会社Seekle
<br>
<br>●お問い合せ
<br>seekle.info@gmail.com
<br>────────────────────────────────
  </body>
</html>


    
