<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>


 <p>Seekleをご利用いただき、誠にありがとうございます。</p>


<% @note.note_revisions.each do |note_revision| %>
 <h2>あなたの掲載中サービス、<br/>「<%=  note_revision.title %> 」 <br/>に予約が来ました！</h2>
<% end %> 




 <br>============================================================
<br>
<br>
<p><%= @name %>さんから、</p>



 <p>ご予約日</p> 
 <p> 希望日時１：  <%=   @workdate1%> 　<%= @worktime1 %> </p>
  <p> 希望日時２：  <%= @workdate2 %>   　<%= @worktime2 %></p>
   <p> 希望日時３：  <%= @workdate3 %>   　<%= @worktime3 %></p>


 <p>お問い合わせ、質問等：<%= @message %></p>

<br>
 <br>============================================================
 <br>
<p>=> <a href="http://seekle.jp/providers/inbox">こちらのリンク</a>からさっそくお返事を返しましょう！</p>
<br>


<br>※このEメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
<br>────────────────────────────────
<br>運営会社：株式会社Seekle
<br>
<br>●お問い合せ
<br>seekle.info@gmail.com
<br>────────────────────────────────
  </body>
</html>


