===========================================
  「<%= @title %> 」に予約が来ました！
===========================================

Seekleをご利用いただき、誠にありがとうございます。

あなたの掲載中サービス、「<%= @title %> 」に予約が来ました！



<%= @date %>
<%= @name %>さんから、

<%= @message %>



=> <a href="http://seekle.jp/providers/inbox">こちらのリンク</a>からさっそくお返事を返しましょう！



※このEメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
────────────────────────────────c
運営会社：株式会社Seekle

●お問い合せ
seekle.info@gmail.com
────────────────────────────────