<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
   
    <h2>  「<%= @title %> 」に予約が来ました！</h2>
   <p>Seekleをご利用いただき、誠にありがとうございます。</p>
<p>あなたの掲載中サービス、<br><br>「<%= @title %> 」<br><br>に予約が来ました！</p>

 <br>============================================================
<br>
<br>
<p><%= @name %>さんから、</p>

<p>希望日程：<%= @date %></p>

 <p>お問い合わせ、質問等：<%= @message %></p>

<br>
 <br>============================================================
 <br>
<p>=> <a href="http://seekle.jp/providers/inbox">こちらのリンク</a>からさっそくお返事を返しましょう！</p>

<br>

<br>※このEメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
<br>────────────────────────────────
<br>運営会社：株式会社Seekle
<br>
<br>●お問い合せ
<br>seekle.info@gmail.com
<br>────────────────────────────────
  </body>
</html>

