

<div class="company_content">


  <div class="company_explanation">
   <div class="box">
    <h1>株式会社Seekle</h1>
   </div>
  </div>
<div class="main-container">

  <div id="1">

   <div class="company-head">
     <h2>About Our Service</h2>
   </div>

   <h3>サービスプラットフォーム事業  <span class="big_seekle"><%= link_to "Seekle",root_path %></span></h3>

   <div class="company_service_mission">

    <p>価格・サービスの質・スタッフの対応を全て合わせてどのサービス、店舗がベストなのか。どこに頼めば失敗しないのか。を明確にし、安心できるサービスを提供します。<br><br>
     また、サービス提供者の方の集客、口コミ集めなど、Seekleを通してサポートを努め、ホームページを作る必要なく広告塔となり、ビジネスを始めやすい環境を創り、日本のビジネスインフラを整備していきます。
     <%= link_to  'アカウントを登録する',"/users/sign_up"%>
   </p>
 </div>

     <h3>VRクラウドソーシング事業  <span class="big_seekle"><%= link_to "VR Labo","http://vrlabo.jp/" %></span></h3>
      <div class="company_service_mission">
<p>VRLaboでは"VRコンテンツ制作どこに頼めばいいか分からない"お客様のコンテンツ制作のご要望を聞き、そのご要望に適切な弊社提携コンテンツ制作会社・フリーランスエンジニアに案件を回し、お客様の代わりとなってディレクティングをしていきます。</p>
</div>

</div>



 <div class="about-company">
  <div id="2">
   <div class="company-head">
     <h2>About Our Company</h2>
   </div> 

    <table class="company-table">
     <tbody>
     <tr>
      <td>会社名</td>
      <td>株式会社Seekle</td>
    </tr>

     <tr>
      <td>設立</td>
      <td>2016/05/27</td>
    </tr>

  <tr>
      <td>所在地</td>
      <td>東京都渋谷区道玄坂2-10-12 新大宗ビル3号館5階531</td>
     </tr>

     <tr>
      <td>事業内容</td>
      <td>オンラインサービスプラットフォームの開発と運営</td>
    </tr>

      <tr>
      <td>ご連絡</td>
      <td>((<%= mail_to 'seekle.info@gmail.com', '株式会社Seekleに問い合わせする',  :subject => '【株式会社Seekle】へのお問い合わせ' %>))</td>
    </tr>

     <tr>
      <td>代表者</td>
      <td>森川 恵美</td>
    </tr>


   
    </tbody>
</table>


  </div>

</div>






   <div class="company-head">
     <h2>Partner Company</h2>
   </div>

   <div class="company_service_mission">
    

    <%= link_to image_tag( "/images/beyondlogo.png",  { :class => "beyond_logo"}),"http://beyondjapan.com",:target=>["_blank"] %>

 </div>

 






<p id="page-top"><a href="#wrap">PAGE TOP</a></p>


 </div>

</div>
<script>
$(function() {
    var topBtn = $('#page-top');    
    topBtn.hide();
    //スクロールが100に達したらボタン表示
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            topBtn.fadeIn();
        } else {
            topBtn.fadeOut();
        }
    });
    //スクロールしてトップ
    topBtn.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
        return false;
    });
});

</script>
