<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>

    </ul>
    </div>
  </div>
  </div>

<div class="setting-heading">
<p>掲載設定</p>

 <ul>
   <li> <a href="#"><i class="fa fa-plus-square-o"></i>  サービスについて</a></li>
   <li> <a href="/service_setting/description"><i class="fa fa-plus-square-o"></i>  顧客へのお願い</a></li>
   <li><a href="/service_setting/pictures"><i class="fa fa-plus-square-o"></i>  写真</a></li>
   <li><i class="fa fa-plus-square-o"></i>  料金</li>


  </ul>
  </div>

  <div class=""></div>

  <div class="bootstrap" >

<div class="setting-wrapper">
<div class="customize-setting">
<h2>あなたのサービスの写真を公開しよう</h2>
  <p>あなたのサービスを求めるカスタマーの決め手になるようなタイトルや内容を考えよう</p>
  </div>


<%= form_for @note, url: wizard_path do |f| %>
<% if @note.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@note.errors.count, "error") %>  prohibited this user from being saved:</h2>
    <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
 <div class="form-group">
    <p>写真1</p>

  <%= f.file_field :image_1, class: "form-control image-field" %>
  </div>

  <div class="form-group">
    <p>写真2</p>
 <%= f.file_field :image_2, class: "form-control image-field" %>
  </div>

  <div class="form-group">
    <p>写真3</p>
 <%= f.file_field :image_3, class: "form-control image-field" %>
  </div>



  <div class="actions">
  <%= f.submit "Continue" %>
  or <%= link_to "スキップする", next_wizard_path %>
</div>
<% end %>

  </div>




