<%= form_for([@note, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="bootstrap">
  <div class="field">
    <div id="star-rating"></div>
  </div>

  <div class="field">
   <p>コメント</p>
    <%= f.text_area :comment, class: 'content-area'%>
  </div>

  <div class="actions">
  <%= f.submit 'レビューを投稿する', class: 'btn btn-default', data:{ disable_with: "作成中・・・"} %>
  </div>
<% end %>

</div>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>